<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        Product Title: <input type="text" placeholder="Enter product name" name="pname" required/> <br/><br/>
        Product Image: <input type="text" placeholder="ENter product Image Url" name="pimage" required/> <br/><br/>
        Product Price: <input type="number" placeholder="Enter price" name="pprice" required/> <br/><br/>
        Product Description: <textarea name="description" rows="5" cols="20"></textarea> <br/><br/>
        <button type="submit">Save</button>
    </form>
</body>
</html>